:root {
  /* color variables */
  --footer-bg: #041830;
  --darker-blue-color: #020E1D;
  --dark-blue-color: #0053b8;
  --background: #FAFBFD;
  --section-color: #FAFAFA;
  --pri-green-color: #2a862a;
  --pri-blue-color:  #055eca;
  --pri-orange-color: #f57c00;
  --text-color: #333333;
  --button-color: #007bff;
  --link-color: #007bff;;
  --input-color:  #007bff;
  /* font variables */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* test styling here */

.reusable{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.test{
    width: auto;
    min-height: 250px;
    padding: 20px;
    margin: 20px auto;
    background-image: url('src/assets/images/dashboard.jpeg');
    background-repeat: no-repeat;
    background-position: center;
}

.test-content{
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.test-content h2{
    margin-bottom: 10px;
    color: #fff;
    font-size: 6vmin;
    font-weight: 500;
}
.test-content p{
    color: #fff;
    font-size: 3vmin;
    font-weight: 300;
}

.header-text{
    color: var(--darker-blue-color);
    text-align: center;
    margin: 30px;
    font-size: 5vmin;
    font-weight: bold;
}

/* subject section styling */

.subject-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.box{
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    background-color: var(--section-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box img{
    object-fit: contain;
    max-width: 250px;
    max-height: 250px;
    display: flex;
    margin: 10px auto;
}

.box:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.eng-lang img{
    margin-top: 60px;
}
.box h2{
    text-align: center;
    font-size: 4vmin;
}

.eng-lang h2{
    color: var(--pri-blue-color);
}

.maths h2{
    color: var(--pri-orange-color);
}

.comp-sci h2{
    color: var(--pri-green-color);
}

.box button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.eng-btn{
    background-color: var(--pri-blue-color);
    color: #fff;
}

.math-btn{
    background-color: var(--pri-orange-color);
    color: #fff;
}

.comp-btn{
    background-color: var(--pri-green-color);
    color: #fff;
}
 
.box i{
    margin-left: 10px;
    font-size: 15px;
    color: #fff;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.card{
    width: 100%;
    height: 350px;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    background-color: var(--section-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card h2{
    text-align: center;
    font-size: 4vmin;
}

.card-img{
    object-fit: contain;
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
}

.topics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.list li{
    margin: 20px;
    cursor: pointer;
    font-size: 3vmin;

}

.english-section .list li:hover{
    color: var(--pri-blue-color);
}

.maths-section .list li:hover{
    color: var(--pri-orange-color);
}

.comp-sci-section .list li:hover{
    color: var(--pri-green-color);
}

/* footer styling here */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.footer p{
    font-size: 3vmin;
    color: var(--text-color);
}

.footer span{
    color: var(--pri-orange-color);
    font-weight: bold;
}