:root {
  /* color variables */
  --footer-bg: #041830;
  --darker-blue-color: #020E1D;
  --dark-blue-color: #0053b8;
  --background: #FAFBFD;
  --section-color: #FAFAFA;
  --pri-green-color: #2a862a;
  --pri-blue-color:  #055eca;
  --pri-orange-color: #f57c00;
  --text-color: #333333;
  --button-color: #007bff;
  --link-color: #007bff;;
  --input-color:  #007bff;
  /* font variables */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}



 /* landing page navbar styling here */
.navbar {
    width: 100%;
    max-height: 100px;
    background-color: var(--section-color);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 250px;
}

.nav-links{
  list-style: none;
  display: flex;
}


.nav-links li{
    margin-right: 50px;
    padding: 10px;
    cursor: pointer;
    color: var(--darker-blue-color);
    border-radius: 6px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15 );
    transition: all 0.3s ease-in-out;
}

.nav-links li:hover{
    background-color: var(--pri-orange-color);
    color: #fff;
}


/* landing page main section styling here */

.landing-page {
    width: 100vw;
    height: 100%;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.151);
    background: linear-gradient(130deg, #0187e0 2%, #f9f9f9 68%, #FAFAFA 30%);
}

.content-section {
   width: 100%;
   padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-content .text-sticker{
  margin-top: 100px;
  min-width: 300px;
  padding: 10px;
  text-align: center;
  background-color: var(--link-color);
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.text-content h2{
  font-size: 45px;
  font-weight: bold;
  margin: 20px;
  max-width: 450px;
  color: var(--darker-blue-color);
}

.text-content p{
  font-size: 18px;
  max-width: 450px;
  margin: 10px auto;
  color: var(--darker-blue-color);
}

.text-content span{
  color: var(--dark-blue-color);
  font-weight: bold;
}

.text-content img{
  width: 60px;
  margin: 10px;
  cursor: pointer;
}

.text-content button{
  padding: 15px 35px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15 );
  background-color: var(--button-color);
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.text-content button:hover{
  background-color: var(--pri-orange-color);
  color: #fff;
}

/* image section styling here */
.img-content {
    width: 50%;
}

.img-square {
    width: 40%;
    height: 71%;
    background-color: var(--button-color);
    position: absolute;
    bottom: -2px;
    z-index: 0;
    border-radius: 12px;
}

.img-content img {
    max-width: 350px;
    position: absolute;
    bottom: 0;
    left: 50;
    z-index: 1;
} 

/* features section styling here */

.features-section {
    width: 100vw;
    background-color: var(--section-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.free-section {
    width: 100%;
    min-height: 300px;
    background-color: var(--section-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.motivative-section {
    width: 100%;
    min-height: 300px;
    background-color: var(--section-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.personalize-section {
    width: 100%;
    min-height: 300px;
    background-color: var(--section-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.innovative-section {
    width: 100%;
    min-height: 300px;
    background-color: var(--section-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-section {
    width: 60%;
    height: 100%;
    padding: 20px;
    margin-right: 30px;
}

.text-section h3{
  font-size: 30px;
  font-weight: bold;
  color: var(--link-color);
  max-width: 450px;
}

.text-section p{
  font-size: 20px;
  color: var(--darker-blue-color);
 margin: 10px auto;
}

.img-section {
    width: 40%;
    height: 100%;
    padding: 20px;
    margin-left: 30px;
}
.img-section img{
  max-width: 300px;
}

/* footer styling here */
.landing-page-ftr{
    width: 100%;
    min-height: 300px;
    background-color: var(--footer-bg);
    padding: 20px;
    color: #fff;
}

.landing-page-ftr h3{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
    max-width: 450px;
}

.landing-page-ftr .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-page-ftr .one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.one p{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin: 30px;
    max-width: 450px;
}

.one p i{
    color: var(--pri-orange-color);
    margin-right: 5px;
}

.line{
  width: 90%;
  height: 2px;
  background-color: var(--pri-orange-color);
  margin: 30px auto;
}

.copy-right{
  font-weight: lighter;
  color: #fff;
  margin: 30px;
}

.copy-right span{
  color: var(--pri-orange-color);
  font-weight: bold;
}

.bottom-content{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons{
    display: flex;
    gap: 20px;
}

.social-icons i{
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.social-icons i:hover{
    color: var(--pri-orange-color);
}













@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
