:root {
  /* color variables */
  --footer-bg: #041830;
  --darker-blue-color: #020E1D;
  --dark-blue-color: #0053b8;
  --background: #eeecec;
  --section-color: #FAFAFA;
  --pri-green-color: #2a862a;
  --pri-blue-color:  #055eca;
  --pri-orange-color: #f57c00;
  --text-color: #333333;
  --button-color: #007bff;
  --link-color: #007bff;;
  --input-color:  #007bff;
  /* font variables */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maths-learn-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #eeecec;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.maths-learn-container .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* maths-learn-header styling here */

.maths-learn-header{
    width: 90%;
    min-height: 250px;
    padding: 30px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--section-color);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    flex-wrap: wrap;
    gap: 20px;
}

.maths-learn-header-content h2{
    row-gap: 15px;
    color: var(--darker-blue-color);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.maths-learn-header-content h2 span{
    color: var(--pri-green-color);
}

.maths-learn-header-content p{
    font-size: 1.2rem;
    color: var(--text-color);
}

.maths-learn-header-img img{
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

/* maths-learn-content styling here */

.maths-learn-content{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 20px;
    align-items: stretch;
    margin: 20px auto;
    gap: 30px;
}

.maths-box{
    flex: 1;
    min-width: 320px;
    max-width: 400px;
    background-color: var(--section-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 30px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.maths-box img{
    max-width: 250px;
    height: auto;
    border-radius: 12px;
}

.maths-box h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px;
}

.maths-list{
    list-style: none;
    margin: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.maths-list li{
    margin: 10px;
}
.maths-list li:hover{
    color: var(--pri-green-color);
    font-weight: bold;
}

@media (max-width: 768px) {
    .maths-learn-header {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
    }
    .maths-learn-header-content h2 {
        font-size: 8vmin;
    }
    .maths-learn-header-content p {
        font-size: 1rem;
    }
    .maths-learn-header-img {
        max-width: 100%;
    }
    .maths-box {
        min-width: 100%;
        padding: 20px;
    }
    .maths-box img {
        height: 150px;
        object-fit: contain;
    }
    .maths-learn-content {
        width: 100%;
        padding: 10px;
    }
}
