@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-blue: #0A5BD9;
  --text-blue: #16264A;
  --text-orange: #ED810E;
  --btn-green: #298533;
}

*{
box-sizing: border-box; 
margin: 0;
padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-blue);
  color: white;
  min-height: 100vh;
}
